{# src/OC/CoreBundle/Resources/views/Default/index.html.twig #}

{% set active_route = 'oc_core_homepage' %}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Bienvenue</h1>
  <hr/>

  <p>Ceci est la page d'accueil d'exemple du site pour le cours Symfony2 d'OpenClassRoom.</p>

{% endblock %}

