{# src/OC/CoreBundle/Resources/views/Default/menu-global.html.twig #}

<ul class="nav nav-pills">
    {% for titre, route in menuItems %}
    <li {% if active_route == route %} class="active" {% endif %}><a href="{{ path(route) }}">{{ titre }}</a></li>
    {% endfor %}
</ul>
